<ul id="main_menu">
  <li><a href="http://localhost:8080/staffs">STAFFS</a></li>
</ul>







<%- include('partials/heard') -%>

<div class="topnav">
    <a href="#">HOME</a>
    <div class="menu-product">
      <a href="/products">PRODUCTS</a>
    </div>
  
    <div class="menu-staff">
      <a href="/staffs">STAFFS</a>
    </div>
   
  <div class="menu-order">
    <a href="/order">ORDERS</a>
  </div>
  <div class="rightcolumn">
    <div class="card">
        <div class="menu-login">
           <a href="/login">Login</a>
        </div>
    </div>
  </div>
</div>
