<%- include('partials/header') -%>
<!DOCTYPE html>
<head>
<style>
  * {
box-sizing: border-box;
}

body {
font-family: Arial;
padding: block;
background: whitesmoke;
}

/* Header/Blog Title */
.header {
padding: 10px;
text-align: center;
background: white;
}

.header h1 {
font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
overflow: hidden;
background-color: black;
}

/* Style the topnav links */
.topnav a {
float: left;
display: block;
color: white;
text-align: center;
padding: 25px 20px;
text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
background-color: red;
color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
float: left;
width: 78%;
}

/* Right column */
.rightcolumn {
float: right;
width: 20%;
background-color: #f1f1f1;
padding-left: 5px;
}

/* Fake image */
.fakeimg {
background-color: #aaa;
width: 100%;
padding: 20px;
}

/* Add a card effect for articles */
.card {
background-color: white;
padding: 20px;
margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
</style>
</head>
<html>
  <div class="rightcolumn">
    <div class="card">
        
    </div>
  </div>
        <iframe width="900" height="506" src="https://www.youtube.com/embed/urx41HBed1s?list=PLrFK892McI5Qp_jc25ydK0Q_tzTOQ04cW" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <P><img src="images/08.jpg" width="auto" height="500"></P>
        <P><img src="images/07.jpg" width="auto" height="500"></P>
    </body>
</html>
<style>
  .footer {
padding: 20px;
text-align: center;
background: #ddd;
margin-top: 20px;
}
</style>
<div class="footer">
  <p class="rights">® 2019 ETERNAL FLAME  -  All Rights Reserved  -  Find more free Templates at <a href="https://www.facebook.com/">ETERNAL FLAME.com</a></p>
</div>

